<nav class="navbar navbar-fixed-left col-md-1 bg-dark">

    <ul class="navbar navbar-nav ">
     
      <li>
        <a routerLink="dashboard/input">Input</a>
      </li>
      <br>
      <li>
        <a routerLink="dashboard/misc">Misc</a>
      </li>
      <br>
      <li>
        <a routerLink="dashboard/data">Data</a>
      </li>
      <br>
      <li>
        <a routerLink="dashboard/panel">Panel</a>
      </li>
      <br>
      <li>
        <a routerLink="dashboard/button">Button</a>
      </li>
      <br>
      <li>
        <a routerLink="dashboard/overlay">Overlay</a>
      </li>
      <br>
      <li>
        <a routerLink="dashboard/file">File</a>
      </li>
      <br>
      <li>
        <a routerLink="dashboard/menu">Menu</a>
      </li>
      <br>
      <li>
        <a routerLink="dashboard/charts">Charts</a>
      </li>
      <br>
      <li>
        <a routerLink="dashboard/messages">Messages</a>
      </li>
      <br>
      <li>
        <a routerLink="dashboard/multimedia">Multimedia</a>
      </li>
      <br>
      <li>
        <a routerLink="dashboard/dragdrop">Dragdrop</a>
      </li>
      
    
     
    </ul>
  
</nav>
<div class="container col-md-9">
  <router-outlet></router-outlet>
</div>