<p>
  overlay works!
</p>


<button type="text" pButton label="Basic" (click)="op.toggle($event)">Button</button>
<br>
<br>
<p-sidebar [(visible)]="display">
  Content
</p-sidebar>

<p-sidebar [(visible)]="displaya" position="right">
    Content
</p-sidebar>
<p-sidebar [(visible)]="displayb" position="left">
    Content
</p-sidebar>

<button type="text" (click)="displaya = true" pButton icon="fa-external-link-square" label="Show">Button1</button>
<button type="text" (click)="displayb = true" pButton icon="fa-external-link-square" label="Show">Button1</button>